**1-Write a Python program to calculate the length of a string using 2 ways

In [1]:
print(len('abanop nabil'))

12

In [2]:
c = 0
string = 'abanop nabil'
for i in string:
    c+=1
print (c)

12

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [6]:
string = input()
if len(string) < 2:
    print(' ')
else:
    print(string[:2] + string[-2:])

h

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [9]:
string = input()
if len(string) < 3:
    print(string)
else:
    if string[-3:] == 'ing':
        string = string + 'ly'
    else:
        string = string + 'ing'
print(string)

abanop
abanoping

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [10]:
lis = ['abanopnabil', 'kirokiro']
long = 0
lin = 0
for i in lis:
    if len(i) > lin:
        long = i
        lin = len(i)
print(long, '     ', lin)

abanopnabil       11

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [11]:
string = input()
print(string[-1]+ string[1:-1] + string[0])

abanop
pbanoa

In [12]:
string = input()
x=list(string)
temp=x[0]
x[0]=x[-1]
x[-1]=temp
print("".join(x))

abanop
pbanoa

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [13]:
string = input()
print(string[::2])

abca
ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [16]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('amr and ahmed are frindes but amr is the tallest'))

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [17]:
string = input()
print(string.upper())
print(string.lower())

abanop
ABANOP
abanop

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [24]:
string = input()
if len(string) % 4 == 0:
    print(string[::-1])

abcd
dcba

**10- Write a Python program to remove a newline in Python

abanop
ok

**11-Write a Python program to check whether a string starts with specified characters

In [26]:
string = input()
if string[0] == 'a':
    print('ok')

abanop
ok

**12- Write a Python program to add prefix text to all of the lines in a string

10.24

**13-Write a Python program to print the following numbers up to 2 decimal places

In [34]:
print("{:.2f}".format(10.23656))

10.24

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [35]:
print("{:+.2f}".format(10.2365))

+10.24

**15-Write a Python program to display a number with a comma separator

In [32]:
res = '{:,}'.format(1000000)
print(res)

1,000,000

**16-Write a Python program to reverse a string using 2 ways

In [36]:
string = input()
print(string[::-1])

abcd
dcba

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [37]:
def word_count(str):
    counts = dict()
    words = str.split()

    for word in words:
        if word in counts:
            counts[word] += 1
        else:
            counts[word] = 1

    return counts

print( word_count('amr and ahmed are frindes but amr is the tallest'))

{'amr': 2, 'and': 1, 'ahmed': 1, 'are': 1, 'frindes': 1, 'but': 1, 'is': 1, 'the': 1, 'tallest': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [1]:
string = input()
index = -1
fnc = "" 
for i in string:
    if string.count(i) == 1:
        fnc += i
        break
    else:
        index += 1
if index == len(string)-1 :
    print("All characters are repeating ")
else:
    print("First non-repeating character is", fnc)

abanop
First non-repeating character is b

**19-Write a Python program to remove spaces from a given string

In [2]:
string = input()
string = string.replace(" ","")
string

abanop nabil

'abanopnabil'

**20-Write a Python program to count the number of non-empty substrings of a given string

**21-write a Python program to swap first and last element of any list.

In [4]:
li = [1 , 2,3,4,5]
temp = li[0]
li[0] = li[len(li) - 1]
li[len(li) - 1] = temp
li

[5, 2, 3, 4, 1]

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [3]:
List = [23, 65, 19, 90]
p1 = 1
p2 = 3
temp = List[p1]
List[p1] = List[p2]
List[p2] = temp
List

[23, 90, 19, 65]

**23- search for the all ways to know the length of the list

In [ ]:
**24-write a Python code to find the Maximum number of list of numbers.

In [6]:
li = [10, 20, 4, 45, 99]
li.sort()
print(li[-1])

99

In [ ]:
**25-write a Python code to find the Minimum number of list of numbers.

In [7]:
li = [10, 20, 4, 45, 99]
li.sort()
print(li[0])

4

**26-search for if an elem is existing in list

In [15]:
li = [10, 20, 4, 45, 99]
inp = input(int)
if (inp in li):
    print("found")

<class 'int'>99

**27- clear python list using different ways

In [17]:
li = [10, 20, 4, 45, 99]
li.clear()
li

[]

**28-remove duplicated elements from a list

In [18]:
li = [10, 20, 4, 45, 99 , 99 , 20]
newli = []
for i in li:
    if i not in newli:
        newli.append(i)
newli

[10, 20, 4, 45, 99]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

**30-write a python program to count unique values inside a list using different ways

In [20]:
li = [10, 20, 4, 45, 99 , 99 , 20]
newli = []
for i in li:
    if i not in newli:
        newli.append(i)
len(newli)

5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [22]:
li = [4, 6, 4, 3, 3, 4, 3, 7, 8, 8]
K = 2
res = []
for i in li:
    freq = li.count(i)
    if freq > K and i not in res:
        res.append(i)
res

[4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [6]:
def maxadj(arr1, n):
    arr2 = [] 
    for i in range(1, n):
        r = max(arr1[i], arr1[i-1])
        arr2.append(r)
    for n in arr2 :
        print(n,end=" ")
n = 6 
arr1 = [1,2,2,3,4,5]
maxadj(arr1, n)

2 2 3 4 5

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [8]:
def pri(L): 
    for i in range(3):
        for j in range(3):
            for k in range(3):
                if (i!=j and j!=k and i!=k):
                    print(L[i], L[j], L[k])
pri([1, 2, 3])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [15]:
from itertools import combinations
test_list = [1,2,3]
idx=0
temp = combinations(test_list, 2)
for i in list(temp):
    print (i)

(1, 2)
(1, 3)
(2, 3)

In [18]:
def combinations_list(test_list):
    if len(test_list) == 0:
        return [[]]
    result = []
    for el in combinations_list(test_list[1:]):
        result += [el, el+[test_list[0]]]
    return result
test_list = [1,2,3]
print(combinations_list(test_list))

[[], [1], [2], [2, 1], [3], [3, 1], [3, 2], [3, 2, 1]]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [19]:
list_1 = ["a","b"]
list_2 = [1, 2]
 
comb = []
 
for i in range(len(list_1)):
    for j in range(len(list_2)):
        comb.append((list_1[i], list_2[j]))
 
print(comb)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [65]:
myDict= {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
myKeys = list(myDict.keys())
myKeys.sort()
sorted_dict = {i: myDict[i] for i in myKeys}
 
print(sorted_dict)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [63]:
d = {'c1': 1, 'c2': 2, 'c3': 8}
res = {}
for key in d.items():
    if d[key]>7:
        res[key] = d[key]
res

KeyError: ('c1', 1)

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [56]:
d1 = {'c1': 1, 'c2': 2, 'c3': 3}
d2 = {'c4': 1, 'c5': 2, 'c6': 3}
d3 = {'c1': 1, 'c2': 2, 'c7': 3}
d4 = {}
for d in (d1, d2, d3): d4.update(d)
print(d4)

{'c1': 1, 'c2': 2, 'c3': 3, 'c4': 1, 'c5': 2, 'c6': 3, 'c7': 3}

**43-Write a Python program to iterate over dictionaries using for loops

In [58]:
d = {'c1': 1, 'c2': 2, 'c3': 3}
for k, v in d.items():
     print(k, 'belongs to ', d[k])

c1 belongs to  1
c2 belongs to  2
c3 belongs to  3

**44- Write a Python script to merge two Python dictionaries

In [52]:
d = {'c1': 1, 'c2': 2, 'c3': 3}
d2 = {'c4': 1, 'c5': 2, 'c6': 3}
d2.update(d)
d2

{'c4': 1, 'c5': 2, 'c6': 3, 'c1': 1, 'c2': 2, 'c3': 3}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [51]:
d = {'c1': 1, 'c2': 2, 'c3': 3}
print(max(d))
print(min(d))

c3
c1

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [47]:
d = {'c1': 'Red', 'c2': 'Green', 'c3': None}
d.pop('c3')
d

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [44]:
a = (1,2,3)
print(a[1])

2

**48-Write a Python program to unpack a tuple into several variables

In [42]:
x = ("apple", "banana", "cherry")

(f, s, t) = a 

print(f)
print(s)
print(t)

1
2
3

**49-Write a Python program to add an item to a tuple

In [41]:
a = (1,2,3)
l = list(a) 
l.append(30)
t = tuple(l)
print(t)

(1, 2, 3, 30)

**50-Write a Python program to convert a tuple to a string

In [40]:
a = (1,2,3)
s = ''
for i in a:
    s = s + str(i)
print(s)

123

**51-Write a Python program to convert a list to a tuple

In [36]:
a = [1,2,3]
print(tuple(a))

(1, 2, 3)

**52-Write a Python program to reverse a tuple

In [35]:
x = (1, 2, 3)
new_x = x[::-1]
print(new_x)

(3, 2, 1)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [28]:
a= (1, 2, 3)
sum = 0
for i in a:
        sum = sum + i
res = sum / len(a)
res

2.0

**56-Write a Python program to add member(s) to a set.

In [26]:
A = {1,2,3}
A.add(4)

print(A)

{1, 2, 3, 4}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [25]:
A = {1,2,3}
A.remove(1)

print(A)

{2, 3}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [24]:
A = {1,2,3}
B = {3, 4, 5}

print(A | B)
print(A & B)
print( A - B)
print( A ^ B)

{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 4, 5}

**59-Write a Python program to find the maximum and minimum values in a set

In [23]:
s = {5, 10, 3, 15, 2, 20}
print(max(s))
print(min(s))

20
2

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [21]:
def findPairs(lst, K):
    res = []
    while lst:
        num = lst.pop()
        diff = K - num
        if diff in lst:
            res.append((diff, num))    
    return res

lst = [1, 5, 3, 7, 9]
K = 12
print(findPairs(lst, K))

[(3, 9), (5, 7)]